*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    
    
}
/*-----------------------Estilos Index-------------------------------*/
@font-face { 
font-family: comforta;
src: url(../Comfortaa-Medium.ttf);

}

body{
font-family: comforta;
}
/*-----------------------------header- home-----------------------------------*/
.logo{
    border-radius: 50%;
    width: 150px;
    height: 150px;

}

.headerHome{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-decoration: none;
    

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 143, 255);
    color: rgb(232, 233, 240);
    
    padding: 0 16px;
}

.headerNavLinks{
    display: flex;
    align-items: center;

    animation: pacho 10s linear;

}

.headerNavLinks a {
    text-decoration: none;
    color: white;
    padding: 16px;
    display: block;
    transition: all .3s;
    font-size: .8rem;

    
}

.headerNavLinks a:hover{
    background-color: rgb(95, 175, 255);
}
/*-----------------------------------imagen wado backg----------*/
.imagenHome{ /*padre del h1-boton*/
    width: 100%;
    height: 100vh;
    background-image: url('../img/logo-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-bottom: 5px solid black;

    /*esto es prop. del boton del h1*/
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    transition: all 3s;
}

/*texto del background*/

.imagenHome h1{
    width: 500px;
    padding: 15px;
    margin: 10px;
    color: white;
   font-size: 2rem;
   line-height: 4rem;

   animation: pacho 4s linear;
}


@keyframes pacho {
    from {
        margin: 10px 10px 10px -100VW;
        opacity: 0;
        }
    to {
        margin: 10px 10px 10px 10px;
        opacity: 1;
    }
}


.imagenHome p{
    
    color: white;
    font-size: 1rem;
    padding: 15px;

    animation: pacho 4s linear ;
}


.botonContac{
    font-size: 1.5rem;
    padding: 15px;
    margin: 10px;
    border-radius:10px;
    border: none;
    background-color: white;
    color: black;
    transition: all .3s;
    animation: pacho 4s linear

}
.botonContac:hover{
    background-color: rgba(70, 116, 243, 0.89);
    color: white
}

/*-------------------------------------------------------------*/
.mainHome{
    display: grid;
    grid-template-columns: 25vw 60vw;
    column-gap: 5vw;
    padding: 0.3vw;
}

.mainHome .extra{
    padding: 8px;
}

.mainHome .extra p{
    background-color: rgba(22, 79, 236, 0.89);
    margin:8px;
    font-size: .9rem;
    padding: 15px;
}

.grid-Pacho{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
    padding: 2.5vw;
}

.grid-Pacho img{
    width: 100px;
    height: 100px;
}

footer{
    background-color: rgba(22, 79, 236, 0.89);
    color: white;

    display: flex;
    align-items: center;
    justify-content:space-around;
}

footer a{
    
    color:white;
    padding: 4px;
}

.card {
    
    border: 2px solid rgba(22, 79, 236, 0.89);
    border-radius: 5px;
    padding: 5px;
   
    

 
}
.texto{
    background-color: rgba(22, 79, 236, 0.89);
    color: white;
    border-top: 5px solid black;
    padding: 10px;
    
    
    

    display: flex;
    flex-direction: column;
    
    
}

.titleTexto h2 {
    text-align: center;
    

}
.parraExtra  {
    display: flex;
    justify-content: space-between;
    
}


/*CODIGO PARA ARREGLAR LA POSICION DE CONTENIDO EXTRA- REVISAR */

.mainHome {
    display: flex;
    flex-direction: column;
    
}

.mecanica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
    

    background-color: white;
}

.parrafo{
    background-color:white;
    padding: 10px;
    margin: 10px 20px;
    color: rgb(7, 6, 6);
}

.contenedor{
    
    background-color: blue;
    padding: 1rem;

    display:inline-flex;
    
    align-items:flex-start;
    flex-direction:column;
}
/*-------------------responsive- Home------------------------*/
@media only screen and (max-width: 414px){
    body{
        background-color: chartreuse;
    }

    .headerHome{
        display: flex;
        flex-direction: column;
    }
    .headerNavLinks li{
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    .headerNavLinks li a{
        font-size: .6rem;
    }

    .headerNavLinks li:first-child{
        border-left: none;
    }
    .headerNavLinks li:last-child{
        border-right: none;
    }

}

/*--------------------------------fonts awesone---------*/
.iconos a i{
 color:white;
  font-size: 2rem;
    
}

/*---------------------------------NOSOTROS------------------------------------------*/


                    /*-------------------header------------*/
.hola{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    
    
    background-color: rgb(30, 143, 255);
    color: rgb(242, 242, 246);
    padding: 0 16px;
}



.lista{
    background-color: rgb(30, 143, 255);
    color: white;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hola a:hover{
    background-color: rgb(95, 175, 255);
    
}


.lista li a{
    color: white;
    margin-left: 25px;
    padding: 20px;
    
    
}
/*---------------------article-foto----------*/
.foto{
background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
color: white;
margin: auto;
padding: 40px;
width: 80%;
height: 50%;
border-radius: 30px;



display:flex;
justify-content: space-between;



}
.conten{
    background-color: white;
    margin-top: 40px;
    
   
}
.parraffo{
    
    justify-content: center;
    margin: 10px;
}
.foto img{
    margin-left: 10px;
    animation: pacho2 5s linear;
}



@keyframes pacho2 {
    from {
        margin-bottom: 10px 10px 10px -100wp ;
        opacity: 0;
        }
    to {
        margin: 10px 10px 10px 10px;
        opacity: 1;
    }
}


/*----------------------------------------sobre nosotros- parrafo---------------*/

.title-nosotros{
    background-image: linear-gradient(to right, #4facfe 0%, #00d8df 100%);
    color: white;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    animation: pacho 5s linear
}
.tex-nosotros{
    background-color:rgb(192, 190, 190);
    margin-top: 20px;
    text-align:center;
    
}


/*-------------------------------------------seccion servicios--------------------------*/


/*---------------------------------------------------estilos de la parte de donde estamos---------------------*/

header nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    
    
    background-color: rgb(30, 143, 255);
    color: rgb(242, 242, 246);
    padding: 0 16px;
}
.lis{
    display:flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    

   
    
    
}

.lis li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    transition: all .3s;
    font-size: 1rem;
    border-left: 2px solid rgba(255, 255, 255, 0.664);
    
}
.lis li a:hover{
    background-color: rgb(95, 175, 255);
    
}
.parrafoDonde{
    background-color: rgb(83, 162, 251);
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    color: white;
    

    
}
.title-ubi{ /* titulo "nuestra ubicacion"--*/
    color: white;
    width:100%;
    text-align: center;
    margin: 10px ;
    text-align: center;
    animation: pacho 3s linear;
    
}

.fotoMapa{ /*foto del google maps*/
    background-color:rgb(83, 162, 251);
    margin: 30px;
    display: flex;
    justify-content:space-between;
}

.texDos{ /*parrafo que puse para que no quede todo muy vacio*/
    background-color: rgba(243, 222, 222, 0.712);
    text-align:center;
    padding: 20px;
    margin: 30px;
}

/*------------------------------------------Contactos----------------------------*/
.contenedor-form{
    background-color: rgb(235, 101, 101);
    background-image: url(https://www.cenedi.com/assets/Meca%CC%81nica-de-Motos.jpg);
    padding: 144px 32px 32px 32px;
    

    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedor-form .card{
    opacity: .8;
    padding: 16px;
    transition: all .3s;
}

.contenedor-form:hover .card{
    opacity: 1;
}