body{
    background-color: #02487c;
}

header{
    background-color: #acb1b4;
    font-family: 'Merriweather', serif;
    color:  rgb(245, 239, 248);

    display: flex;
    justify-content: space-between;



}
h1{
    padding: 10px;
    margin: 10px;
    

}

form{
    padding: 5px;
    margin: 5px;
}

.formulario{
    background-color: aqua;
    width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  
}